body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.avatar-container>* {
  background: transparent;
  border-radius: 50%;
}
